body {
  background-color: #ebedcc;
}

img {
  width: 300px;
  position: absolute;
  top: 40%;
  left: 8%;
  margin-top: -50px;
  margin-left: -50px;
}

h1 {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

#personalBackground {
  position: absolute;
  top: 18%;
  left: 5.5%;
}

#experience {
  position: absolute;
  top: 40%;
  left: 30%;
}

#programmingLanguages {
  position: absolute;
  top: 40%;
  left: 65%;
}

#achievements {
  position: absolute;
  top: 60%;
  left: 30%;
}

#games {
  position: absolute;
  top: 60%;
  left: 65%;
}